.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .profile-card {
    width: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .profile-heading {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    color: #333333;
  }
  
  .profile-info {
    margin-top: 20px;
  }
  
  .profile-item {
    margin-bottom: 10px;
  }
  
  .profile-label {
    font-weight: bold;
  }
  
  .profile-value {
    margin: 0;
  }
  
  /* Responsive Styles */
  
  @media screen and (max-width: 600px) {
    .profile-card {
      width: 90%;
    }
  }
  